body {
  margin: 0;
  font-family: 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1f31;
  color: #ffffff;
}

html, body, #root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-squareid="a1"] {
  border-bottom-left-radius: 0.4em;
}

[data-squareid="a8"] {
  border-top-left-radius: 0.4em;
}

[data-squareid="h1"] {
  border-bottom-right-radius: 0.4em;
}

[data-squareid="h8"] {
  border-top-right-radius: 0.4em;
}

.Quiz {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.Quiz h2 {
  flex: 0 0 auto;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 4vmin;
}

.QuizBoardAndPrompts {
  display: flex;
  justify-content: space-around;
  gap: 2vmin;
  margin: 0vmin 2vmin 2vmin;
  flex: 1 1 auto;
  overflow: hidden;
  align-items: center;
}

.Chessboard {
  height: 80vmin;
  flex-grow: 0;
}

.QuizPrompt {
  list-style-type: none;
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100%;
}

.QuizPrompt li span {
  border-radius: 0.4em;
  background-color: #838bde;
  padding: 0.4em 0.6em;
  margin: 0em 0em 0.8em 0em;
  display: inline-block;
}

.QuizPrompt li.Correct span {
  background-color: #61C9A8;
}

.QuizPrompt li.Incorrect span {
  background-color: #BA3B46;
}

li h3 {
  margin: 0em;
}

.PromptContainer {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: 80vmin;
}

@media only screen and (orientation: portrait) {
  .QuizBoardAndPrompts {
    flex-direction: column;
  }
}

button {
  border-color: #ffffff;
  border-radius: 0.4em;
  color: #ffffff;
  background-color: #1d1f31;
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em 0.6em;
}

button:hover {
  background-color: #2F195F;
}